#IDE
.idea/
.vscode/

# python
__pycache__/
.pytest_cache/

# latex
*.aux
*.log
*.bbl
*.blg
*.out
*.pdf

# inpainting
inpainting/data/*
!inpainting/data/data_process.py
inpainting/venv/
inpainting/logs/
inpainting/models/
