#IDE
.idea/
.vscode/

# python
__pycache__/
.pytest_cache/

# latex
*.aux
*.log
*.bbl
*.blg
*.brf
*.out
*.pdf

test.jpg

# inpainting
inpainting/data/*
!inpainting/data/data_process.py
inpainting/venv/
inpainting/logs/
inpainting/models/
inpainting/*.jpg
inpainting/*.png

# segmentation
segmentation/checkpoints/
